p.author {
    margin:-3em 0 3em 0;
    font-style: italic;
}

div.input {
    margin-bottom:2em;
}

div.flash {
    margin-bottom:2em
}
div.flash div.message {
    padding:.4em 1em;
}
div.flash div.message.error {
    border:#FF0000 1px solid;
    background-color:#ffd7cd;
}
div.flash div.message.success {
    border:#00FF00 1px solid;
    background-color: #bbffc5;
}

form .error-message {
    color:#990000;
}

#header nav ul li {
    margin-left:.6em;
}
